.board {
  display: flex;
  flex-wrap: wrap;
}

.validation-errors-display {
  text-align: center;
  margin-bottom: 2em;
}

.validation-errors-display__list {
  list-style-type: none;
  padding: 0;
}

.error-message {
  margin: 1rem 0;
  padding: 1rem;

  background-color: tomato;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.success-message {
  margin: 1rem 0;
  padding: 1rem;

  background-color: lightgreen;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}